body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url('universe.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
}

.exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.exit-button:hover {
    background-color: white;
    color: black;
    border-color: transparent;
}

